# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.egg-info/
*.egg
.env
# Virtual environment
.venv/
venv/

credentials.json
# Local config / secrets
login.py
config.txt
guiScript.py
brand_reports/
deal_reports/
old/

# Generated output
files/
done/

deals.db
# OS artifacts
.DS_Store
Thumbs.db
# Ignore generated brand reports
brand_reports_LM/
brand_reports_MV/
links.txt
token.json
*.xlsx
token_gmail.json
BuzzApp/